/* Basic CSS Stylesheet Template */

/* Standard reset for body + main */
body, main, footer, h1, h2, h3, {
  margin: 0;
  padding: 0;
  border: 0;
}

/* CSS */
/* https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap&effect=neon */
@font-face {
  font-family: SourceCodePro;
  src: url(fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
body {
  width: 100%;
  margin: auto;
  text-align: center;
  background: radial-gradient(rgb(117, 117, 117),rgb(58, 58, 58),rgb(231, 231, 231));
}
main {
  width: 75%;
  margin-left: 12.5%;
}
h1, h2, h3, h4 {
  font-family: SourceCodePro;
}
p {
  font-family: SourceCodePro, serif;
  font-size: 24px;
  color: black;
}
header {
  font-size: 12px;
  border-width: 20px 20px 20px 20px;
  border-color: rgb(128, 128, 128);
  border-style:ridge;
  text-align: center;
  text-transform: uppercase;
  font-variant: small-caps;
  width: 85%;
  margin-bottom: 2.5%;
  }

  .font-effect-3d-float{
    font-size: 72px;
  }
header h1 {
  font-size: 72px;
  border-width: 2px 12px 2px 12px;
  border-color: black;
  border-style: solid;
  text-shadow: 2px 2px 4px white;
}
header h2 {
  font-size: 24px;
  border-width: 1px 6px 1px 6px;
  border-color: black;
  border-style: solid;
  text-shadow: 1px 1px 2px white;
}

section a {
  color: grey;
  font-family: SourceCodePro;
}

section a:visited{
  color: rgb(185, 185, 185);
}

section a:hover{
  color: white;
  background-color: black;
}
/* Section Classes */
.aboutMe {
border-width: 10px 10px 5px 10px;
border-color: rgb(102, 102, 102);
  border-style: outset;
background-color: rgb(61, 61, 61);
padding: 5px 5px 5px 15px;
margin-left: 35%;
}

.aboutMe:hover
    {
      border-style: inset;
    }

.portfolio {
  border-width: 5px 10px 5px 10px;
  border-color: rgb(102, 102, 102);
  border-style: outset;
  background-color: rgb(61, 61, 61);
  padding: 5px 5px 5px 15px;
  margin-right: 35%;
  }
  .portfolio:hover
    {
      border-style: inset;
    }


.familyBicycle_image {

    border-width: 5px 10px 5px 10px;
  border-color: rgb(102, 102, 102);
  opacity:inherit;
}
.familyBicycle {
  border-width: 5px 10px 5px 10px;
  border-color: rgb(102, 102, 102);
  border-style: outset;
  background-color: rgb(61, 61, 61);
  padding: 5px 5px 5px 15px;
  margin-left: 35%;
  }
  .familyBicycle:hover
    {
      border-style: inset;
    }



.education {
  border-width: 5px 10px 5px 10px;
  border-color: rgb(102, 102, 102);
  border-style: outset;
  background-color: rgb(61, 61, 61);
  padding: 5px 5px 5px 15px;
  margin-right: 35%;
  }
  .education:hover
    {
      border-style: inset;
    }


 .languages {
    border-width: 5px 10px 5px 10px;
    border-color: rgb(102, 102, 102);
    border-style: outset;
    background-color: rgb(61, 61, 61);
    padding: 5px 5px 5px 15px;
    margin-left: 35%;
    }
.languages:hover
    {
      border-style: inset;
    }
.left:hover{
  background-color:rgb(206, 0, 178);
}
.right:hover{
  background-color: rgb(0, 255, 255)
}
.code {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 35%;
  margin-right: 0;
  padding-left: 40px;
}
li {
 text-align: left;
 font-family: SourceCodePro;

}
.left {
  margin-left: 25%;
}
.right {
  margin-right: 25%;
}


.footerList {
  font-size: 2em;
}

.fa {
  width: 0px;
  margin-left: 25%;
  padding: 20px;
  text-align: center;
  text-decoration: none;

}
footer {
    margin:auto;
    text-align: left;
    padding: 2em;

}
footer a{
  color: rgb(231,231,231);
}

footer a:hover {
  color:rgb(58, 58, 58);
}


/* NAVIGATION */

nav {
  padding: 0 0 8em 2em;
  width: -25%; 
 
}

nav a {
  text-decoration: none;
  margin-top: 0.5em;
  width: 100%;
}

nav ul {
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;

  position: relative;
}

ul li li {
  text-align: right;
  font-size: 14px;
  padding: 0.25em, 0.25em, 0.25em, 0em;

}

.top-nav > li {
  float: left;
  width: 20%;
  font-size: 16px;
}

ul li a:hover  {
  color:rgb(102, 102, 102);
}



.top-nav > li > li > a {
  color: #fcfcfc;
  font-weight: bold;
  background: linear-gradient(#616161, transparent);
  line-height: 2.5em;
  padding: 0, 1.25em;
  display: block;
}

.drop-down1 {
  background: rgba(128, 128, 128, 0.186);
  width: 10em;
  position: absolute;
  left: 0;
  visibility: hidden;
  margin-left: 5%;
}

.drop-down2 {
  background: rgba(128, 128, 128, 0.197);
  width: 12em;
  position: absolute;
  left: 0;
  visibility: hidden;
  margin-left: 25%;
}


li:hover .drop-down1 {
  visibility: visible;
}

li:hover .drop-down2 {
  visibility: visible;
}


.nav-column {
  float: left;
  padding: 2.5%;
  width: 20%;
}

.nav-column h3 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 1em 0em 0.5em 0em;
}

.nav-column a {
  font-weight: bold;
  line-height: 1.75;
  color: #888;

}

.nav-column a:hover {
  color: rgb(0, 0, 0);
}

.top-nav > li > a {
  color: #fcfcfc;
  font-weight: bold;
  background: linear-gradient(#333, transparent);
  line-height: 2.5em;
  padding: 0, 1.25em;
  display: block;
  text-align: center;
}